body {
  background: #f4cad1;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 70vh;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  font-family: 'Cormorant Garamond', serif;
}

button {
  padding: 10px;
  font-family: 'Cormorant Garamond', serif;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  background: #df6277;
}

h3 {
  font-size: 25px;
  text-decoration: underline;
}

button:hover {
  background: #b85062;
}

h1 {
  background: #ef93a2;
  padding: 5px;
}